@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fix */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(6px);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
